@model Capa_Entidad.Director

@{
    ViewBag.Title = "EliminarDirector";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>EliminarDirector</h2>

<h3>¿Estás seguro de querer eliminarlo</h3>
<div>
    <h4>Director</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Completo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Completo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Director" class="btn btn-danger"/> 
            <a href="~/Director/ListarDirector" class="btn btn-success">Cancelar</a>
        </div>
    }
</div>
